:root {
    --main-color: white;
    --table-background-color: rgb(247, 247, 247);
    --table-border-color: gray;
    --table-border-inside-color: rgb(167, 167, 167);
    --text-color: black;
    --info-text-color: rgba(0, 0, 0, 0.65);
    --required: rgb(255, 169, 169);
    --studying: rgb(255, 228, 110);
    --not-required: rgb(159, 255, 159);
    --homework: lightblue;
    --no-info: rgb(255, 196, 240);
    --week-info-background-hover: lightgray;
    --week-info-background-active: gray;
}
body {
    margin: 0px 0px;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--main-color);
}
#main
{
    font-size: 17.3px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#weekPicker {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.weekPickerButton {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    width: 40px;
    aspect-ratio: 1;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#weekPicker button {
    color: var(--text-color);
}
#weekPicker button:hover {
    cursor: pointer;
    background-color: var(--week-info-background-hover);
}
#weekPicker button:active {
    background-color: var(--week-info-background-active);
}
#weekInfo {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding-top: 5.5px;
    border-radius: 5px;

    white-space: pre;
    width: 225px;
    text-align: center;
}

table {
    min-width: 1200px;
    min-height: 260px;
    border-spacing: 6px;
    border-radius: 5px;

    border: 1.5px solid var(--table-border-color);
    background-color: var(--table-background-color);
}
table tr {
    height: 52px;
}
table th, td {
    padding: 7px 7px;
    text-align: center;

    max-width: 200px;
    min-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    border-radius: 5px;
}
.timetableBorder {
    border: 1.5px solid var(--table-border-inside-color);
}
.class {
    cursor: pointer;
    border: none;
    padding: 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    transition: 0.05s filter ease-out;
}
.class button {
    background: none;
    border: none;
    padding: 7px 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 17.3px;
}
.class p {
    margin: 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: var(--text-color);
}
.classInfo {
    text-align: right;
    font-size: 13px;
    color: var(--info-text-color) !important;
}
.class:hover {
    filter: brightness(90%);
}

#classRequired {
    background-color: var(--required);
}
#classStudy {
    background-color: var(--studying);
}
#classNotRequired {
    background-color: var(--not-required);
}
#classUnknown {
    background-color: var(--no-info);
}
#classHomework {
    background-color: var(--homework);
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: start;
}
#legend h3 {
    margin-bottom: 10px;
}
#legend p {
    padding: 5px 10px;
    margin: 0px 0px;
    margin-bottom: 8px;
    margin-left: 20px;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#lightDarkModeSwitch {
    background-color: transparent;
    border: none;
    font-size: 22px;
    border-radius: 4px;
}