body {
    margin: 0px 0px;
    font-family: sans-serif;
}
#main
{
    font-size: 17.3px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    width: fit-content;
}

#weekPicker {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.weekPickerButton {
    border: none;
    border-radius: 5px;
    background-color: transparent;
    width: 40px;
    aspect-ratio: 1;
    font-size: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#weekPicker button:hover {
    cursor: pointer;
    background-color: lightgray;
}
#weekPicker button:active {
    background-color: gray;
}
#weekInfo {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding-top: 5.5px;
    border-radius: 5px;

    white-space: pre;
    width: 225px;
    text-align: center;
}
#weekInfo:hover {
    cursor: pointer;
    background-color: lightgray;
}
#weekInfo:active {
    background-color: gray;
}

table {
    min-width: 1200px;
    min-height: 260px;
    border-spacing: 6px;
    border-radius: 5px;

    border: 1.5px solid gray;
    background-color: rgb(247, 247, 247);
}
table th, td {
    padding: 7px 7px;
    text-align: center;

    max-width: 200px;
    min-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    font-weight: normal;
    border-radius: 5px;
}
.timetableBorder {
    border: 1.5px solid rgb(167, 167, 167);
}
.class {
    cursor: pointer;
    padding: 7px 14px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px;
    transition: 0.05s filter ease-out;
}
.class button {
    background: none;
    border: none;
    padding: 0px 0px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    font-size: 17.3px;
}
.class p {
    margin: 0px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}
.classInfo {
    text-align: right;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.65);
}
.class:hover {
    filter: brightness(90%);
}

#classRequired {
    background-color: rgb(255, 169, 169);
}
#classStudy {
    background-color: rgb(255, 228, 110);
}
#classNotRequired {
    background-color: rgb(159, 255, 159);
}
#classUnknown {
    background-color: rgb(255, 196, 240);
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: start;
}
#legend h3 {
    margin-bottom: 10px;
}
#legend p {
    padding: 5px 10px;
    margin: 0px 0px;
    margin-bottom: 8px;
    margin-left: 20px;

    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

[title] {
	position: relative;
}
body.touched [title] > * {
	user-select: none;
}
body.touched [title]:hover > * {
	user-select: auto
}
body.touched [title]:hover:after {
	position: absolute;
	top: 100%;
	right: -10%;
	content: attr(title);
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: white;
	box-shadow: 1px 1px 3px;
	padding: 0.3em;
	z-index: 1;
}